<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=305">
  <title>Safy Move Safer</title>
  <link rel="stylesheet" type="text/css" media="screen" href="style/style.css">
</head>
<body>
    <div id="top">
        <div id="share" class="size">
            <a href="facebook" title="ien de partage vers Facebook"><img src="style/img/20.png" alt="logo Facebook"></a>
            <a href="twitter" title="lien de partage vers Twitter"><img src="style/img/19.png" alt="logo Twitter"></a>
        </div>
    </div>
    <div id="htop">
        <div id="htopcont" class="size">
            <h1>
                <a href="#" title="lien vers l'acceuil">
                    <img src="style/img/18.jpg" alt="logo de la societe Safy">
                </a>
            </h1>
            <nav>
                <ul>
                    <li><a href="#">{{ data }}</a></li>
                    <li><a href="#">Book</a></li>
                    <li><a href="#">Destination</a></li>
                    <li><a href="#">Price</a></li>
                    <li><a href="#">Alerts</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="slide">
        <div id="slider">
            <figure><img src="style/img/6.jpg"><figcaption>Tips to travel around the world !</figcaption></figure>
        </div>
    </div>
    <div id="center">
        <section class="size">
            <h2>Article generaux</h2>
            <article>
                <header>
                    <img src="style/img/13.png" alt="feu de camp">
                    <h2>Safe, structured and amazing application</h2>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit.</p>
                <a href="#">more info</a>
            </article>
            <article>
                <header>
                    <img src="style/img/17.png" alt="un tipie">
                    <h2>The sun is shining today, book your trip</h2>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit.</p>
                <a href="#">more info</a>
            </article>
            <article>
                <header>
                    <img src="style/img/12.png" alt="trace de patte d'ours">
                    <h2>Meet new people and live more intensely</h2>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit.</p>
                <a href="#">more info</a>
            </article>
            <aside>
                <h2>Destinations</h2>
                <figure>
                    <a href="#" title="tous les renseignement sur la France">
                        <img src="style/img/3.jpg" alt="Drapeau Français">
                    </a>
                    <figcaption>France</figcaption>
                </figure>
                <figure>
                    <a href="#" title="tous les renseignement sur le Brézil">
                        <img src="style/img/4.jpg" alt="Drapeau Brézilien">
                    </a>
                    <figcaption>Brazil</figcaption>
                </figure>
                <figure>
                    <a href="#" title="tous les renseignement sur l'Algérie">
                        <img src="style/img/5.jpg" alt="Drapeau Algérien">
                    </a>
                    <figcaption>Algeria</figcaption>
                </figure>
            </aside>
        </section>
    </div>
    <div id='sous_corps' class="size">
        <div id='conteneur_sous_corps'>
            <div id='sous_corps_left'>
                <h3>About US</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Phasellus convallis urna a enim convallis a bibendum lectus scelerisque. Aenean at mauris augue, sed fringilla justo.</p>
                <p>Quisque malesuada lorem at leo volutpat tristique. Nunc sit amet felis imperdiet ante tincidunt viverra sit amet quis ipsum. Aenean metus urna, placerat ut pharetra id, pharetra eget turpis.Sed blandit nunc eget lorem vestibulum malesuda.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus convallis rna a enim convallis a bibendum lectus scelerisque.Aenean at mauris augue, sed fringilla justo. Proin et porta ligula.Quisque malesuada lorem at leo volutpar tristique. Nunc sit armet felis imperdiet ante tincidunt viverra sit amet quis ipsum</p>
            </div>
            <div id='sous_corps_right'>
                <h3>Why US</h3>
                <div class='bloc_sous_corps'>
                    <div class='left_sous_corps'>
                        <img src='style/img/14.png' alt='une boussole' />
                    </div>
                    <div class='right_sous_corps'>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Phasellus convallis urna a enim convallis a bibendum lectus scelerisque. Aenean at mauris augue, sed fringilla justo.</p>
                    </div>
                </div>
                <div class='bloc_sous_corps'>
                    <div class='left_sous_corps'>
                        <img src='style/img/15.png' alt='un plan, carte' />
                    </div>
                    <div class='right_sous_corps'>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Phasellus convallis urna a enim convallis a bibendum lectus scelerisque. Aenean at mauris augue, sed fringilla justo.</p>
                    </div>
                </div>
                <div class='bloc_sous_corps'>
                    <div class='left_sous_corps'>
                        <img src='style/img/16.png' alt='un velo' />
                    </div>
                    <div class='right_sous_corps'>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Phasellus convallis urna a enim convallis a bibendum lectus scelerisque. Aenean at mauris augue, sed fringilla justo.</p>
                    </div>
                </div>
            </div>
        </div>

        <h3>How to travel ?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Phasellus convallis urna a enim convallis a bibendum lectus scelerisque. Aenean at mauris augue, sed fringilla justo. Proin et porta ligula</p>
        <a href='' title='lien de souscription au nouvelle' id="submit">Subscribe</a>
</div>
<div id="footer">
    <div id="footcont" class="size">
        <nav>
            <ul>
                <li><a href='' title='Home'>Home</a></li>
                <li><a href='' title='Book'>Book</a></li>
                <li><a href='' title='Destinations'>Destinations</a></li>
                <li><a href='' title='Prices'>Prices</a></li>
                <li><a href='' title='Alerts'>Alerts</a></li>
                <li><a href='' title='Contact'>Contact</a></li>
            </ul>
        </nav>
    <footer>
        <p>There is no birds here Look around.</p>
    </footer>
    </div>
</div>
</body>
</html>
